# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Saída do `dart doc`.
doc/api/

pubspec.lock

.local-chrome/

downloads/

referencias/

# Saída do `dart doc` em CI.
build/
